* {box-sizing: border-box;}

body{
    background-color: #E9FFD7;
    margin: 0;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #826594;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #826594;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

/*Navigation Bar*/

a {
    color: #FAF6DA;
    text-decoration: none;
}

a:hover{
    background-color: #826594;
    transition: all 0.2s ease-in-out;
}



.navbar{
    overflow: hidden;
    background-color: #00A376;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a{
    float: left;
    font-size: 1rem;
    color: #FAF6DA;
    text-align: left;
    text-decoration: none;
    padding: 1rem 2rem;
}

.navbar-nav{
    padding: 0;
    display: flex;
    list-style: none;
}

.navbar-brand {
    /* display: absolute;
    margin-right: 1rem;
    float: right;
    overflow: hidden; */
    display: block;
    width: 100%;
    width: 100%;
}

.navbar-brand:hover{
    background-color: #00A376;
}

.navbar-brand img{
    display: block;
    width: 100%;
    width: 100%;
}


.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdown-button{
    font-size: 1rem;
    text-align: left;
    border: none;
    outline: none;
    color: #FAF6DA;
    background-color: #00A376;
    padding: 1rem 2rem;
    margin: 0;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #00A376;
    width: 10%;
}

.dropdown-content a {
    float: none;
    color:#FAF6DA;
    padding: 1rem 2rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #826594;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*Index Image*/

.post-logo{
    display: block;
    background-color: #E9FFD7;
}

/*Button*/

.button{
    display: block;
    text-align: center;
    width: 40%;
    background-color:#0A837E;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.95em 2.25em;
    border: none;
    border-radius: 2em;
    color: #fff;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}



/*Footer*/

footer{
    background-color: #00A376;
    color: #FAF6DA;
    /*padding: 1.11em 0;*/    
}

footer a{
    float: left;
    font-size: 1rem;
    color: #FAF6DA;
    text-align: left;
    text-decoration: none;
    padding: 1rem 2rem;
}

.footer ul{
    padding-left: 0;
}

.footer-links{
    justify-content: left;
    text-align: left;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.footer-links a:hover{
    background-color: #00A376;
}

.footer-links li{
    display: inline;
}

.align-left{
    float: left;
}

/*Contact Form*/

.contact-form label,
.contact-form input,
.contact-form select,
.contact-form  textarea{
    display: block;
    color: #826594;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;

}

.contact-form label{
    margin-bottom: 0.5em;
}

.contact-form input,
.contact-form select{
    border: 2px solid #0A837E;
    padding: .5em;
    border-radius: 50px;
}

.contact-form textarea{
    border: 2px solid #0A837E;
    padding: .5em;
    border-radius: 20px;
}

.contact-form :invalid{
    border: 2px solid red;
    color: red;
}

.contact-form :invalid::placeholder{
    color: red;
}

.contact-form button{
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
    padding: .5em;

}

/*About*/

.about-image{
    display: block;
    width: 100%;
}

.about-title{
    margin-top: 5em;
    margin-bottom: 1em;
    text-align: left;
}

.about-p{
    margin: 5em 20em;
}

.about-p p{
    text-align: center;

}

.par-1,
.par-2,
.par-3,
.par-4{
    margin-top:2em;
}

/*Collection*/

.gallery {
    margin: 3.8rem;
    margin-top: 5rem;
    float:left;
    width: 25%;
}

.gallery:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 10px 20px #000;
}

.gallery img {
    width: 100%;
    height: auto;
}

.banner{
    position: relative;
    width: 100%;
}

.banner img{
    width: 100%;
    height: auto;
    margin: 15%;
    margin-top: 2em;
}

.btn{
    position: absolute;
    float: left;
    top: 35%;
    left:30%;
    background-color: #FAF6DA;
    color: #826594;
    font-weight: bold;
    font-size:1.4em;
    padding: 0.7em 1.5em;
    border: none;
    cursor: pointer;
    border-radius: 20em;
    text-align: center;
}

.btn :hover{
    opacity: 80%;
    transition: all 0.2s ease-in-out;
    color: #0A837E;
}

/*Image Slideshow*/

:root {
    --nav-ctrl-color: #826594;
    --nav-ctrl-size: 1rem;
    --nav-ctrl-inner-size: 1rem;
}

.slide-container{
    position: relative;
    margin:auto;
    margin-bottom: 5rem;
}
.slide-content{
    display: flex;
    justify-content: center;
}

.slide-item{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    padding-bottom:30%;
    width: 100%;
    margin-top: 5rem;
    margin-left: 15rem;
    margin-right: 15rem;
}

.slide-nav{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.hidden{
    display: none;
}

.nav-dot {
    align-items: center;
    border-color: var(--nav-ctrl-color);
    border-radius: 100%;
    border-style: solid;
    border-width: 1.5px;
    display: flex;
    height: var(--nav-ctrl-size);
    justify-content: center;
    margin: 0 .25rem;
    width: var(--nav-ctrl-size);
}

.nav-dot-inner{
    background-color: var(--nav-ctrl-color);
    border-radius: 100%;
    display: block;
    opacity: 80;
    height: 0;
    transition: all .2s ease-in-out;
    width: 0;
}

#sld-1-ctrl:checked ~ .slide-nav #sld-1-dot .nav-dot-inner,
#sld-2-ctrl:checked ~ .slide-nav #sld-2-dot .nav-dot-inner,
#sld-3-ctrl:checked ~ .slide-nav #sld-3-dot .nav-dot-inner,
#sld-4-ctrl:checked ~ .slide-nav #sld-4-dot .nav-dot-inner,
#sld-5-ctrl:checked ~ .slide-nav #sld-5-dot .nav-dot-inner{
    background-color: #0A837E;
    height: var(--nav-ctrl-inner-size);
    opacity: 1;
    width: var(--nav-ctrl-inner-size);
}

#sld-1-ctrl:checked ~ .slide-content #slide-1,
#sld-2-ctrl:checked ~ .slide-content #slide-2,
#sld-3-ctrl:checked ~ .slide-content #slide-3,
#sld-4-ctrl:checked ~ .slide-content #slide-4,
#sld-5-ctrl:checked ~ .slide-content #slide-5 {
    display: block;
}



/*.prev, 
.next{
    position: absolute;
    width:auto;
    padding: 1rem;
    margin-top: 1em;
    color: #FAF6DA;
    background-color:#00A376 ;
    font-weight: bold;
    font-size: 1.3rem;
    transition: 0.7s ease-in-out;
    cursor: pointer;
}

.next{
    right: 0;
}


.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade{
    from {opacity: .4;}
    to {opacity: 1}
}
*/


/*blog*/

.blog-text{
    margin-right: 10rem;
    width: 85%;
    padding: auto;
    justify-content: center;
}

.blog-text p {
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 1rem;
}

.blog-text a{
    color: #00A376;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.blog-text a:hover{
    background-color: #E9FFD7;
    color: #826594;
    text-decoration:underline;
}

.blog-image{
    margin-left: 3rem;
}

/*Articles*/

.article-title{
    margin-bottom: 1em;
}

.article-Par p{
text-align: justify;
font-size: 1.5em;

}

.blog-title{
    font-size: 2em;
}

.blog-banner{
    margin: 2em 23.5em;
    width: 48.5vw;
    border-top: 1px solid #000 ;
    border-bottom: 1px solid #000 ;
    padding: 2em;
}

.blog-title{
    margin-bottom: .5em;
    margin-top: 1em;
}

.blog-title,
.time{
    text-align: center;
}


.Sections{
    background-color: #0A837E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 0 1em;
    margin: 3em auto;
    text-align: center;
}

.Sections a:hover{
    background-color: #0A837E;
    text-decoration: underline;
}

.section1{
    padding: 1em;
    
}

.section2{
    position: absolute;
    margin: auto;
}

.center-vertically {
    align-items: center;
    display: flex;
    justify-content: center;
}

